<!-- <div class="container">
  <form enctype="multipart/form-data">
      <div class="form-group">
          <label>Choose single file</label>
        
          <input type="file" name="streamfile" class="form-control-file" (change)="single($event.target.files)">
        
          <small id="fileHelpId" class="form-text text-muted">Select single file</small>
          <input class="btn btn-primary" type="button" (click)="UploadSingleFile()" value="Upload">
          <input class="btn btn-success" type="button" (click)="DownloadSingleFile()" value="Download">
        </div>
        
        
        <div class="form-group">
          <label for="multipleFile">Choose multiple file</label>
        
          <input type="file" multiple class="form-control-file" name="multiple" id="multipleFile" (change)="multiple($event)">
        
          <small id="fileHelpId" class="form-text text-muted">Select multiple file</small>
          <input class="btn btn-primary" type="button" (click)="UploadmultipleFile()" value="Upload">
        </div>
  </form>
</div> -->

<app-menu-header></app-menu-header>
<div class="container-fluid">
  
</div>


